@{
    ViewData["Title"] = "Export";
}

<h3>Export</h3>
<div>@Html.TextBox("route")</div>
<button id="update-button" onclick="relocate()">update</button>

<script>
    function relocate(){
        $.ajax({
            type:"POST",
            url: "@Url.Action("Export")",
            data: {route: $('#route').val()}
        });
    }
</script>
