@{
    ViewData["Title"] = "Import";
}

<h3>Import</h3>
<div>@Html.TextBox("route")</div>
<button id="update-button" onclick="relocate()">import files</button>

<script>
    function relocate(){
        $.ajax({
            type:"POST",
            url: "@Url.Action("Import")",
            data: {route: $('#route').val()}
        });
    }
</script>
